body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, sans-serif;
}

header {
    background-color: #f8f8f8;
    padding: 10px 20px;
    width: 100%;
}

.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerContainer a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    font-weight: normal;
}

.headerContainer a.active {
    font-weight: bold;
    color: #333;
}

.btn {
    padding: 10px 20px;
    background-color: DarkSalmon;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
}

.btn:hover {
    background-color: #0056b3;
}

.linkInicial {
    padding: 10px 20px;
    background-color: DarkSalmon;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.topnav {
    width: 100%;
    background-color: #fafafa;
    text-align: center;
}

.topnav a {
    display: inline-block;
    color: #423d3d;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #a8abab;
    color: white;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

form input, form select {
    width: 50%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

h1, p {
    text-align: center;
}

/* Ajusta o footer para ficar no final da página */
footer {
    text-align: center;
    padding: 10px;
    background-color: DarkSalmon;
    color: white;
    width: 100%;
    position: relative;
    bottom: 0;
}

/* Estilização específica para o grid de imagens */
.image-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.image-item {
    border: 1px solid #ddd;
    padding: 10px;
    width: calc(25% - 20px);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 1rem;
}


.image-item img {
    width: 80%;
    height: 100%;
}

.form_delete {
    display: inline;
    margin: 0;
    padding: 0;
    width:auto;
}

.btn_grid_delete {    
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    width: auto; 
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-top:1rem
}

.btn_grid_delete:hover {
    background-color: #45a049;
}

.btn_grid_edit {
    padding: 10px 20px;
    background-color: DarkSalmon;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}
.btn_grid_edit:hover {
    background-color: #45a049;
}

.error {
    border: 1px solid red;
}

.error-message {
    color: red;
}

.edit-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    margin: 20px auto;
}

.edit-form label {
    margin-top: 10px;
    font-weight: bold;
}

.edit-form input, .edit-form select {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.edit-form button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.edit-form button:hover {
    background-color: #0056b3;
}

.edit-form .btn_cancel {
    background-color: #f44336;
}

.edit-form .btn_cancel:hover {
    background-color: #c62828;
}

.btn_deletar {
	padding: 10px 20px;
    background-color: #8b0304;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
}
.btn_deletar:hover {
	background-color: red;
}
